*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.Navbar{
    display:flex;
    justify-content: center;
    background-color: rgb(197, 232, 163);   
}

.Navbar ul{
    z-index: 2;
}

.logo-nav{
    flex:0;
    padding-top: 5px;
    padding-left: 5px;
}

.logo-nav img{
    height:3rem;
}

.logo-nav img{
    border-radius: 50%;
}

.Nav-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 10px;
    padding-bottom: 15px;
    flex:1;
}

.Nav-links li{
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

#About{
    padding-top: 1rem;
    background-color: #f6f5f2;
    background-image: url('assets/cloud-about.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid rgb(180, 89, 89);
    border-left: none;
    border-right:none;
    height: 100vh;
    
}

.about-section{  
    padding-top: 4rem;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;

}

.profile-name{
    padding-top: 1rem;
    align-self: center;
    justify-self: center;
    font-size: 2.5rem;
}

.profile-pic img{
    height: 20rem;
    border-radius: 50%;
    border: 10px solid pink;
}

.about-heading{
    font-size: 2.25rem;
    font-family: 'open sans';
    color: #f05252;
    padding-top:0.5rem;
}

.profile-pic{
    text-align: center;
}

.about-para{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 10px 0px 20px 50px;
}

#Experience{
    background-color: #ffefef;
    border: 4px solid rgb(180, 89, 89);
    border-top:none;
    border-left:none;
    border-right: none;
    padding-bottom:3rem;
    padding-top:1rem;

}

.experience-section{
    display:grid;
    grid-template-columns: 2fr 1.5fr 0 1.5fr 2fr;
    grid-template-rows: 1fr 4fr 4fr;
    padding-top:0px;
    row-gap: 25px;
    column-gap: 10px;
    padding-bottom: 25px;
   
    
}

.experience-head{
    grid-row: 1 2;
    grid-column: span 5;
    align-self:center;
    justify-self:center;
    font-size:2.25rem;
    font-family: 'open sans';
    color: #288c83;
}

.education-head,.skills-head,.experience-experience-head{
    font-family: 'open sans';
    color: #288c83;
    align-self:center;
    justify-self:center;
    font-size:1.5rem;
    padding-top:20px
}


.experience-education{
    grid-area: 2/2/3/3;
    background-color: #f3d0d7;
    border-radius:5%;
}

.education-details{
    font-family: 'Montserrat';
    font-size: 1.12rem;
    list-style:circle;
    padding-left:30px;
    padding-top:25px;
}

.experience-skills{
    grid-area: 2/4/3/5;
    background-color: #ffccce;
    border-radius:5%;
}



.skills-details{
    font-family: 'Montserrat';
    font-size: 1.12rem;
    list-style:circle;
    padding-left:30px;
    padding-top:25px;
    padding-right: 5px;
}

.experience-experience{
    grid-area:3/2/4/span 3;
    background-color: #ffadaf;
    border-radius:5%;
    padding-bottom: 20px;
}

.experience-experience-details{
    font-family: 'Montserrat';
    font-size: 1.12rem;
    list-style:circle;
    padding-left:30px;
    padding-top:25px;
    padding-right: 20px;
}


#Contact{
    background-color: #fbdef2;
    padding-top:1rem;
    padding-bottom: 2.5rem;
}

.Contact-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;

}


.Connect{
    text-align: center;
    border:5px dashed rgb(180, 201, 212);
    padding: 1rem;
    border-radius: 10%;
    font-family: 'Open Sans';
    color: #f788a0f5;
    font-weight: bold;
    font-size: 1.5rem;
}

.contact-head{
    font-family: 'Open Sans';
    color:#f788a0f5;
    font-size:1.5rem;
}




